[submodule "packages/midas"]
	path = packages/midas
	url = git@github.com:ffimnsr/midas-rs.git
[submodule "packages/psyche"]
	path = packages/psyche
	url = git@github.com:ffimnsr/psyche.git
[submodule "packages/haya"]
	path = packages/haya
	url = git@github.com:ffimnsr/haya-rs.git
